*.bbl
*.blg
*.log
*.out
*.aux
*.toc
*.brf
*.nav
*.snm
*.bz2
*.pyc
*.swp

*.so
build/

*.egg-info
env/
env3/

*.pkl
wandb/
output/

#VS Code settings
.vscode/

# cache
lib/__pycache__
models/__pycache__
utils/__pycache__

*.so
build/

*.egg-info
env/
env3/

*.pkl
wandb/

#VS Code settings
.vscode/